$color-dark: rgb(46, 46, 46);
$color-white: #fff;

nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 325px;
    background: #fff;
}

button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
}

ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    // padding: 25px;
    position: absolute;
    top: 100px;
    width: 285px;
}

li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-left: 20px;
    display: grid;
    place-items: center;
    color: $color-dark;
}
.button-placeholder {
    border-radius: 5px;
    background-color: $color-dark;
    border: 2px solid $color-white;
    color: $color-white;
    width: 200px;
    height: 40px;
    display: grid;
    place-items: center;
    flex: 1;
}
.text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 20px;
    flex: 1;
}
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    background: $color-dark; /* Grey background */

    outline: none; /* Remove outline */
    margin: 11px 10px;
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;

    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        // border-radius: 100%;
        width: 7px; /* Set a specific slider handle width */
        height: 17px; /* Slider handle height */
        border: 2px solid $color-white;
        background: rgb(22, 21, 21); /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    &::-moz-range-thumb {
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        border: 2px solid black;
        background: #ffffff; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
}
.menu-item {
    background: rgb(252, 252, 252);
    border-radius: 5px;
    padding: 1px;
}
.text {
    color: $color-dark;
    margin-right: 20px;
}

.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
