$color-dark: rgb(46, 46, 46);
$color-white: #fff;

.toggle {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.open {
    z-index: 999;
    height: 100%;
}
.closed {
    z-index: 1;
    height: 10%;
}
.panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(min(400px, 100vw));

    .background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: white;
    }
    .menu {
        position: absolute;
        top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
    }
    .togglePanel {
        top: 12.5px;
        right: 5%;

        display: grid;
        place-items: center;
    }
    &-header {
        position: absolute;
        top: 12.5px;
        left: 50%;
        transform: translate(-50%, 25%);
        text-align: left;
    }
    .text-dark {
        color: $color-dark;
    }
    .text-white {
        color: $color-white;
    }
}
h2 {
    color: $color-dark;
    margin-left: 15px;
}
.menu-item {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 0.5fr 1fr min-content;
    gap: 2px;
    background: rgb(252, 252, 252);
    border-radius: 5px;
    padding-inline: 10px;

    .value {
        min-width: 34px;
        min-height: 34px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: $color-dark;
        margin-left: 10px;
    }
}
.no-display {
    display: none;
}
.buttonmenu {
    justify-items: center;
}
.button-placeholder {
    grid-column: 1 / -1;
    border-radius: 5px;
    background-color: $color-dark;

    color: $color-white;
    display: grid;
    place-items: center;
    padding: 0.5em 1em;
    align-self: center;
    width: 50%;
}
.inputtext {
    border: 2px solid $color-dark;
    border-radius: 5px;
    color: $color-dark;
    text-align: center;
    padding: 0.2em 0.1em;
    grid-column: 1 / -1;
    font-size: 20px;
}

.text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 20px;
}
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    background: $color-dark; /* Grey background */

    outline: none; /* Remove outline */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;

    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        // border-radius: 100%;
        width: 7px; /* Set a specific slider handle width */
        height: 17px; /* Slider handle height */
        border: 2px solid $color-white;
        background: rgb(22, 21, 21); /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    &::-moz-range-thumb {
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        border: 2px solid black;
        background: #ffffff; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
}

.text {
    color: $color-dark;
    text-align: center;
    width: 100%;
}

.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
