@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
$color-dark: hsl(0, 0%, 18%);
$color-white: #fff;

* {
    margin: 0;
    padding: 0;
    color: white;
}
textarea:focus,
input:focus {
    outline: none;
    border: 1px solid rgb(0, 0, 0);
}
input {
    font-family: "Share Tech Mono", monospace;
}
body {
    background-color: hsl(0, 0%, 0%);
    font-family: "Share Tech Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}
text {
    alignment-baseline: middle;
    text-anchor: middle;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

$debug: 1px solid red;
.debug {
    border: $debug;
}
.app {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    gap: 1em;
    &-header {
        position: absolute;
        letter-spacing: 4px;
        top: 12.5px;
        left: 1em;
        // transform: translateX(-100%);
        font-style: italic;

        font-size: 20px;

        span {
            font-style: normal;
            font-size: 12px;
            letter-spacing: 1px;
            color: rgb(129, 133, 15);
        }
    }
}
